/*------------------------------------*\
    #Collapsible sections
\*------------------------------------*/

.js .component--collapsibles {

	// Added via JavaScript
	[data-heading="collapsibles"] button {

		align-items: flex-start;
		border-radius: 0;
		display: flex;
		justify-content: space-between;
		padding: 0;
		width: 100%;

		&:hover h3 {

			text-decoration: underline; /* 1 */
			text-decoration-skip-ink: auto; // Not supported by Safari
			text-underline-offset: 0.25em; // Supported by Safari

		}

		&:focus {

			border-color: transparent;

			h3 {

				background-color: $focus-color;
				background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
				text-decoration: none;

			}

		}

		&[aria-expanded="false"] .angle-up {

			display: none;

		}

		&[aria-expanded="true"] .angle-down {

			display: none;

		}

		svg {

			flex-shrink: 0;
			//height: 1em;
			//width: 1em;

		}

	}

	[data-heading="collapsibles"] button span {

		align-items: flex-start;

	}

	[data-heading="collapsibles"] + * {

		@include stack;

		&[aria-hidden="true"] {

			display: none;

		}

	}

	* + [data-heading="collapsibles"] {

		margin-top: 1rem;

	}

}