/*------------------------------------*\
    #Navigation advanced

    N.B. aria-expanded attribute is managed by JS
\*------------------------------------*/

.no-js {

	[data-trigger="mobile-nav"],
	.global-nav__inner .nav__submenu {

		display: none;

	}

}

[data-trigger="mobile-nav"] {

	display: inline-flex;
	font-size: rem(14);
	padding: rem(7) 0;

	&:focus {

		border-color: transparent;

	}

	&[aria-expanded="false"] #close-icon {

		display: none;

	}

	&[aria-expanded="true"] #menu-icon {

		display: none;

	}

	&[aria-expanded="false"] ~ .account-login {

		display: none;

	}

	&[aria-expanded="false"] + * {

		display: none;

	}

	&[aria-expanded="true"] ~ .account-login {

		display: flex;

	}

	@include mq($max-width) {

		display: none;

	}

}

[dir="ltr"] {

	[data-trigger="mobile-nav"] {

		margin-left: auto;

	}

	[data-trigger="account-menu"] ~ [data-trigger="mobile-nav"] {

		margin-left: rem(10);

	}

}

[dir="rtl"] {

	[data-trigger="mobile-nav"] {

		margin-right: auto;

	}

	[data-trigger="account-menu"] ~ [data-trigger="mobile-nav"] {

		margin-right: rem(10);

	}

}

#global-nav {

	position: relative;
	z-index: 2;

}

.global-nav__inner > ul {

	border-bottom: solid 1px $border-color;
	box-shadow: 0 8px 16px 0 rgba(55,70,95,0.07);
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	left: 0;
	padding-bottom: rem(45);
	padding-left: 5vw;
	padding-right: 5vw;
	position: absolute;
	top: 100%;
	width: 100%;

	@include mq($max-width) {

		border: none;
		box-shadow: none;
		flex-basis: auto;
		flex-wrap: nowrap;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		position: static;

	}

}

.signed-in .global-nav__inner > ul > li:last-child {

	display: none;

}

.global-nav__inner .top-nav-item button {

	@include mq($max-width) {

		border-bottom: solid 3px transparent;
		font-size: 1rem;
		padding: rem(10) rem(5) rem(7);
		white-space: nowrap;

		&:hover,
		&:focus,
		&.js-active {

			border-bottom-color: #0079b8;
			outline: none;

		}

	}

}

svg.nav-small {

	margin-inline-start: auto;

	@include mq($max-width) {

		display: none;

	}

}

svg.nav-wide {

	display: none;

	@include mq($max-width) {

		display: inline;

	}

}

[dir="ltr"] {

	svg.nav-small .angle-left {

		display: none;

	}

}

[dir="rtl"] {

	svg.nav-small .angle-right {

		display: none;

	}

}

.global-nav__inner [data-trigger="subnav"] {

	align-items: center;
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	color: $off-black;
	display: flex;
	font-size: 1rem;
	line-height: inherit;
	outline: solid 1px transparent;
	outline-offset: -1px;
	padding: rem(12) 0;
	width: 100%;

	@include mq($max-width) {

		display: inline-flex;

	}

	&[aria-expanded="false"] {

		@include mq($max-width) {

			.angle-up {

				display: none;

			}

		}

	}

	&[aria-expanded="false"] + * {

		display: none;

	}

	&[aria-expanded="true"] {

		@include mq($max-width) {

			.angle-down {

				display: none;

			}

		}

	}

}

.global-nav__inner .nav__submenu {

	background-color: $white;
	border-bottom: solid 1px $border-color;
	box-shadow: 0 8px 16px 0 rgba(55,70,95,0.07);
	display: block;
	left: 0;
	min-height: calc(100% + 1px);
	padding-bottom: rem(45);
	padding-left: 5vw;
	padding-right: 5vw;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;

	@include mq($max-width) {

		background-color: $mist-gray;
		border: solid 1px $border-color;
		left: 50%;
		max-width: rem($max-width);
		min-height: auto;
		padding: rem(20);
		top: 100%;
		transform: translateX(-50%);

	}

}

.global-nav__inner [data-trigger="mobile-back"] {

	@include txt-jupiter;

	border-bottom: solid 1px $border-color;
	border-radius: 0;
	padding: rem(12) 5vw;

	@include mq($max-width) {

		display: none;

	}

}

[dir="ltr"] {

	[data-trigger="mobile-back"] .angle-right {

		display: none;

	}

}

[dir="rtl"] {

	[data-trigger="mobile-back"] .angle-left {

		display: none;

	}

}

.global-nav__inner .nav__submenu > a {

	@include txt-jupiter;

	color: $off-black;
	font-weight: $emphasis;
	margin-top: rem(25);
	padding-bottom: rem(6);
	padding-top: rem(6);

	@include mq($max-width) {

		margin-bottom: rem(25);
		margin-top: 0;

	}

}

.global-nav__inner .nav__submenu > ul {

	@include mq($max-width) {

		columns: 3 rem(250);
		column-gap: rem(40);

	}

}

.global-nav__inner .nav__submenu > ul > li {

	border-bottom: solid 1px $border-color;
	padding-bottom: rem(3);
	padding-top: rem(3);

	@include mq($max-width) {

		border-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;

	}

}

.global-nav__inner .nav__submenu > ul > li.has-children {

	@include mq($max-width) {

		break-inside: avoid;
		margin-bottom: rem(25);

		&:last-of-type {

			margin-bottom: 0;

		}

	}

}

.global-nav__inner .nav__submenu > ul > li > a {

	font-size: rem(18);
	padding-bottom: rem(9);
	padding-top: rem(9);

}

.global-nav__inner .nav__submenu ul ul {

	margin-inline-start: rem(10);

}

.global-nav__inner .nav__submenu .nav-link {

	&:hover {

		text-decoration: underline;
		text-decoration-skip-ink: auto;
		text-underline-offset: 0.25em;

	}

	&:focus {

		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;

	}

}