/*------------------------------------*\
    #Slider advanced

    N.B. `.js-slider` is added by JS
\*------------------------------------*/

[data-component="slider"] {

	.js-slider {

		overflow-x: scroll;
		padding-bottom: rem(10);
		padding-top: rem(10);
		scroll-snap-type: x mandatory;

		/*
		Hide scrollbar in browsers that allow it,
		because we have provided button navigation
		 */
		-ms-overflow-style: none; /* 1 - IE */
		overflow: -moz-scrollbars-none; /* 1 - Older Firefox */
		scrollbar-width: none; /* 1 - Latest Firefox */
		&::-webkit-scrollbar {

			display: none; /* 1 - Chrome and Safari */

		}

	}

	.js-slider > ul {

		display: flex;

		> li {

			flex: 0 0 100%;

		}

		> li + li {

			margin-top: 0;

		}

	}

}

[dir="ltr"] {

	.slider-controls .previous {

		.angle-right {

			display: none;

		}

	}

	.slider-controls .next {

		.angle-left {

			display: none;

		}

	}

}

[dir="rtl"] {

	.slider-controls .previous {

		.angle-left {

			display: none;

		}

	}

	.slider-controls .next {

		.angle-right {

			display: none;

		}

	}

}

[data-slide] {

	align-items: center;
	display: inline-flex;
	padding: rem(15);

	&.current {

		background-color: transparent;
		border: solid 2px $link-color;
		color: $link-color;
		padding: rem(13);

		&:hover {

			background-color: $link-color--hover;
			border: solid 2px $link-color--hover;
			color: $white;

		}

	}

	svg {

		pointer-events: none;

	}

}