/*------------------------------------*\
    #Slider advanced

    N.B. `.js-slider` is added by JS
\*------------------------------------*/

[data-component="slider"] {

	.js-slider {

		overflow: hidden;

		&:focus-within {

			outline: rem(2) solid $focus-color;
			outline-offset: rem(-2);

		}

	}

	.js-slider > ul {

		display: flex;
		padding-bottom: rem(10);
		padding-top: rem(10);
		position: relative;

		> li {

			flex: 0 0 100%;

		}

		> li + li {

			margin-top: 0;

		}

	}

}

[dir="ltr"] {

	.slider-controls .previous {

		.angle-right {

			display: none;

		}

	}

	.slider-controls .next {

		.angle-left {

			display: none;

		}

	}

}

[dir="rtl"] {

	.slider-controls .previous {

		.angle-left {

			display: none;

		}

	}

	.slider-controls .next {

		.angle-right {

			display: none;

		}

	}

}

[data-slide] {

	align-items: center;
	display: inline-flex;
	padding: rem(15);

	&.js-current {

		background-color: transparent;
		border: solid 2px $link-color;
		color: $link-color;
		padding: rem(13);

		&:hover {

			background-color: $link-color--hover;
			border: solid 2px $link-color--hover;
			color: $white;

		}

	}

	svg {

		pointer-events: none;

	}

}