/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote {

	@include txt-saturn;

	@include stack(1rem);

	color: $w3c-blue;
	margin-inline-start: rem(10);
	padding: rem(20);
	position: relative;

	> * {

		font-weight: bold;

	}

	cite {

		color: $off-black;
		font-size: 1rem;
		font-style: normal;
		font-weight: normal;

	}

	&::before {

		background-color: $w3c-blue;
		border-radius: rem(5);
		content: '';
		height: 100%;
		left: rem(-10);
		position: absolute;
		top: 0;
		width: rem(10);

	}

}

[dir="rtl"] {

	blockquote::before {

		left: auto;
		right: rem(-10);

	}

}