/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote,
.quote {

	@include stack(1rem);

}

blockquote {

	border-left: solid rem(3);
	font-size: 1.25rem;
	padding-left: rem(24);
	quotes: "\201C" "\201D" "\2018" "\2019";

}

blockquote p:first-child::before {

	content: open-quote;

}

blockquote p:last-of-type::after {

	content: close-quote;

}

blockquote footer {

	font-size: 1rem;

}

.quote figcaption {

	padding-left: rem(24);

}