/*------------------------------------*\
    #Tables
\*------------------------------------*/

table {

    background-color: transparent;
    border: 1px solid $border-color;
    border-collapse: collapse;
    width: 100%;

}

tr:nth-child(even) {

    background-color: rgba(0, 0, 0, 0.025);

}

th,
td {

    padding: 0.75rem;
    text-align: start;

}

th {

    vertical-align: bottom;

    &[scope="col"] {

        background-color: $deep-blue;
        color: $white;

    }

}

td {

    vertical-align: text-top;

}

table caption {

    padding: 0.75rem;
    text-align: left; // IE fallback for next rule - only works for ltr languages
    text-align: start; /* 1 */

}

/**
Scrolling visual clue: See https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
 */
@media screen {

    [dir="ltr"] {

        .table-wrap {
            background: linear-gradient(to right, $white 30%, rgba(255, 255, 255, 0)),
            linear-gradient(to right, rgba(255, 255, 255, 0), $white 70%) 0 100%,
            radial-gradient(
                            farthest-side at 0% 50%,
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0)
            ),
            radial-gradient(
                            farthest-side at 100% 50%,
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0)
            )
            0 100%;
            background-attachment: local, local, scroll, scroll;
            background-color: $white;
            background-position: 0 0, 100%, 0 0, 100%;
            background-repeat: no-repeat;
            background-size: rem(40) 100%, rem(40) 100%, rem(14) 100%, rem(14) 100%;
            border: 1px solid $border-color;
            max-width: 100% !important;
            overflow-x: auto;

            table {

                border: none;

            }
        }

    }

}


/**
 Sticky header: an enhancement for tables without any horizontal overflow
 */
@media screen {

    .js-sticky th[scope="col"] {

        position: sticky;
        top: 0;

    }

}
