/*------------------------------------*\
    #Global footer
\*------------------------------------*/

.global-footer {

	border-top: solid 1px $border-color;
	grid-row-start: 2; // Needed for sticky footer
	grid-row-end: 3; // Needed for sticky footer
	padding: rem(20) 0 rem(25);

	.l-center {

		@include stack(1rem);

	}

	a,
	.copyright {

		@include txt-eris;

	}

	a {

		color: $off-black;

		&:visited,
		&:hover,
		&:active {

			color: $off-black;

		}

	}

	.l-cluster > * {

		margin: 0 rem(-10);

	}

	.l-cluster.l-cluster > * > * {

		margin: 0 rem(10);

	}

	.l-cluster li:last-of-type {

		@include mq($max-width) {

			margin-inline-start: auto;

		}

	}

	.l-cluster a:not([class]) {

		display: block;
		min-width: rem(44);
		padding-bottom: rem(12);
		padding-top: rem(12);
		text-align: center;

	}

	.l-cluster .with-icon--larger {

		padding: rem(12);

		svg {

			height: rem(20);
			width: rem(20);

		}

	}

}