/*------------------------------------*\
    #Global header
\*------------------------------------*/

.global-header .banner {

	background-color: $light-blue;
	padding-bottom: rem(10);
	padding-top: rem(10);

}

.global-header .banner__inner {

	align-items: center;
	display: flex;

	.icon--beta {

		flex: none;
		width: rem(61);

	}

	p {

		font-size: rem(14);
		line-height: calc(17 / 12);

	}

	a {

		color: $deep-blue;

	}

}

[dir="ltr"] {

	.banner__inner p {

		margin-left: rem(10);

	}

}

[dir="rtl"] {

	.banner__inner p {

		margin-right: rem(10);

	}

}

#lang-nav {

	background-color: $mist-gray;

	.l-cluster > * {

		justify-content: flex-end;
		margin: 0 rem(-10);

	}

	.l-cluster.l-cluster > * > * {

		margin: 0 rem(10);

	}

	a {

		color: $off-black;
		display: block;
		font-size: rem(14);
		padding-bottom: rem(12);
		padding-top: rem(11);

	}

}

[data-trigger="account-menu"] {

	border: none;
	border-radius: 0;
	padding: rem(7);

	@include mq($max-width) {

		border-bottom: solid 3px transparent;
		margin-inline-start: auto;
		padding-bottom: rem(4);

		&:hover {

			border-bottom-color: #0079b8;

		}

	}

	&[aria-expanded="false"] + * {

		display: none;

	}

	* {

		pointer-events: none;

	}

	.sr-only {

		@extend %visuallyhidden;

		font-size: rem(14);

		@include mq($max-width) {

			border: initial;
			clip: auto;
			clip-path: none;
			height: auto;
			margin: initial;
			overflow: initial;
			padding: initial;
			position: static;
			white-space: nowrap;
			width: auto;

		}

	}

	picture {

		@include mq($max-width) {

			margin-inline-start: rem(8);

		}

	}

}

[dir="ltr"] {

	[data-trigger="account-menu"] {

		margin-left: auto;

	}

}

[dir="rtl"] {

	[data-trigger="account-menu"] {

		margin-right: auto;

	}

}