/*------------------------------------*\
    #Hero
\*------------------------------------*/

.hero {

	background-color: $off-black;
	color: $off-white;

}

.hero .l-center {

	max-width: rem(1300);
	padding-left: 10vw;
	padding-right: 10vw;

}