/*------------------------------------*\
    #Logo
\*------------------------------------*/

.logo {

	display: block;
	height: rem(48);
	width: rem(72);

	@include mq($bp-tab-large) {

		height: rem(67);
		width: rem(100);

	}

	svg {}

}
