/*------------------------------------*\
    #Logo
\*------------------------------------*/

.logo {

	display: block;
	height: rem(42);
	position: relative;
	width: rem(63);

	@include mq($bp-tab-large) {

		height: rem(52);
		width: rem(78);

	}

}
