/*------------------------------------*\
    #Navigation
\*------------------------------------*/

.no-js {

	.global-header__menu-btn,
	.nav-mobile__close-btn,
	.nav-mobile__submenu,
	.nav-mobile .has-children svg,
	.nav-wide .has-children svg,
	.nav-wide__submenu {

		display: none;

	}

	.nav-mobile {

		margin-top: 0;

	}

	.nav-mobile li {

		border-bottom: 0;

	}

	.nav-mobile__submenu {

		padding-bottom: 0;
		padding-left: rem(25);

	}

	//.nav-mobile__primary > li {
	//
	//	border-bottom: solid 1px #2f2f2f;
	//
	//}

}

.nav-heading {

	@include txt-jupiter;

	display: block;

}


/**
Mobile navigation styles
 */
.nav-mobile {

	display: block;
	margin-top: rem(45);
	padding-bottom: rem(45);
	position: relative;

	@include mq($bp-tab-large) {

		display: none;

	}

	// The aria-hidden attribute is managed by JS
	&[aria-hidden="true"] {

		display: none;

	}

	&[aria-hidden="false"] {

		display: block;

		@include mq($bp-tab-large) {

			display: none;

		}

	}

}

.nav-mobile li {

	border-bottom: solid 1px #2f2f2f;

}

.nav-mobile a {

	display: block;
	padding: rem(12) 5vw;
	text-decoration: none;

}

.nav-mobile__close-btn {

	margin-left: 5vw;
	margin-top: rem(45);

	@include mq($bp-tab-large) {

		display: none;

	}

}

.nav-mobile .has-children {

	align-items: center;
	display: flex;

}

[dir="ltr"] {

	.nav-mobile .has-children svg {

		margin-left: auto;

		.arrow-left-ltr {

			display: none;

		}

	}

}

[dir="rtl"] {

	.nav-mobile .has-children svg {

		margin-right: auto;

		.arrow-right-ltr {

			display: none;

		}

	}

}

.nav-mobile__submenu {

	background-color: inherit;
	padding-bottom: rem(45);
	width: 100%;

	// The aria-hidden attribute is managed by JS
	&[aria-hidden="true"] {

		display: none;

	}

	&[aria-hidden="false"] {

		display: block;
		position: absolute;
		left: 0;
		top: 0;

	}

}

.nav-mobile__submenu > div {

	align-items: center;
	border-bottom: solid 1px #2f2f2f;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: rem(20);
	padding-left: 5vw;
	padding-right: 5vw;

}

.nav-mobile__submenu > div .nav-heading {

	flex-basis: 100%;

}

.nav-mobile__submenu > div > a {

	margin-left: -5vw;

}

.nav-mobile__submenu > ul > li {

	border-bottom: 0;

}

.nav-mobile__submenu > ul .nav-heading {

	padding-left: 5vw;
	padding-top: rem(20);

}

[dir="ltr"] {

	[data-button="submenu-close"] {

		margin-left: auto;

	}

	[data-button="submenu-close"] .arrow-right-ltr {

		display: none;

	}

}

[dir="rtl"] {

	[data-button="submenu-close"] {

		margin-right: auto;

	}

	[data-button="submenu-close"] .arrow-left-ltr {

		display: none;

	}

}


/**
Wide navigation styles
 */
.nav-wide {

	display: none;

	@include mq($bp-tab-large) {

		border-bottom: solid 1px #2f2f2f;
		display: block;

	}

}

.nav-wide > ul {

	display: flex;
	flex-wrap: nowrap;
	position: relative;

}

[dir="ltr"] {

	.nav-wide > ul > li + li {

		margin-left: rem(8);

	}

}

[dir="rtl"] {

	.nav-wide > ul > li + li {

		margin-right: rem(8);

	}

}

.nav-wide > ul > li {

	&:first-of-type {

		margin-inline-start: rem(-10);

	}

	> a {

		display: block;
		font-weight: $emphasis;
		padding: rem(12) rem(10);
		text-decoration: none;

	}

}

.nav-wide__submenu {

	border: solid 1px #2f2f2f;
	left: 50%;
	max-width: rem(1162);
	position: absolute;
	top: 100%;
	transform: translateX(-50%);
	width: 100%;

	// The aria-hidden attribute is managed by JS
	&[aria-hidden="true"] {

		display: none;

	}

	&[aria-hidden="false"] {

		display: block;
		z-index: 5;

	}

}

.nav-wide__submenu > div {

	align-items: center;
	border-bottom: solid 1px #2f2f2f;
	display: flex;
	padding: rem(20);

}

[dir="ltr"] {

	.nav-wide__submenu > div a {

		margin-left: rem(27);
		padding-bottom: rem(12);
		padding-top: rem(12);

	}

	.nav-wide__submenu > div button {

		font-size: rem(14);
		margin-left: auto;
		padding: rem(6) rem(9);

	}

}

[dir="rtl"] {

	.nav-wide__submenu > div a {

		margin-right: rem(27);

	}

	.nav-wide__submenu > div button {

		margin-right: auto;

	}

}

.nav-wide__submenu > ul {

	columns: 3 rem(250);
	column-gap: rem(50);
	padding: rem(40) rem(20);

}

.nav-wide__submenu > ul > li {

	break-inside: avoid;
	margin-bottom: rem(40);

}

.nav-wide__submenu a {

	display: block;
	padding-bottom: rem(12);
	padding-top: rem(12);

}

.nav-wide .nav-heading + ul {

	margin-top: rem(15);

}


/**
Disable pointer events on e.g. SVGs within links/buttons
 */
.nav-mobile__primary .has-children,
[data-button="submenu-close"],
.nav-wide .has-children,
[data-button="wide-nav-close"] {

	> * {

		pointer-events: none;

	}

}


/**
Language navigation styles
 */
.nav-lang {

	background-color: #f5f5f5;
	padding: rem(20);
	margin-left: auto;
	margin-right: auto;
	max-width: rem($max-width);

}

.nav-lang .l-cluster ul {

	// Override for WCAG 2.5.8 (AA)
	margin: rem(-11);

}

.nav-lang .l-cluster li {

	font-size: rem(15);
	// Override for WCAG 2.5.8 (AA)
	margin: rem(11);

}