/*------------------------------------*\
    #Navigation
\*------------------------------------*/

.no-js {

	.nav-global__close-btn {

		display: none;

	}

}

.nav-global {

	padding: rem(45) 0;

	// The aria-hidden attribute is managed by JS
	&[aria-hidden="true"] {

		display: none;

	}

	&[aria-hidden="false"] {

		display: block;

	}

	li {

		border-bottom: solid 1px #2f2f2f;

	}

	a {

		display: block;
		padding: rem(12) 5vw;
		text-decoration: none;

	}

}

.nav-global__close-btn {

	margin-left: 5vw;
	margin-top: rem(45);

	@include mq($bp-tab-large) {

		display: none;

	}

}

.nav-lang {

	background-color: #f5f5f5;
	padding: rem(20) 5vw rem(10) 5vw;

	ul {

		font-size: rem(14);

	}

}