/*------------------------------------*\
    #Tag list
\*------------------------------------*/

.tag-list {

	margin: rem(-12);

	li {
		margin: rem(12);
	}

}

.tag {
	background-color: $aqua;
	display: block;
	font-size: 0.8em;
	padding: rem(5);
}

a.tag {

	position: relative;
	text-decoration: none;
	z-index: 10;

	&:hover {
		text-decoration: underline;
	}

}