/*------------------------------------*\
    #Listing templates
\*------------------------------------*/

.listing {

	.wrap {

		background-color: $mist-gray;

	}

	#breadcrumb {

		background-color: $white;

	}

	h1 {

		@include txt-mercury;

		margin-bottom: rem(32);

	}

	main,
	#main {

		padding-top: 0;

	}

	.filters.l-switcher {

		margin: rem(-10);

	}

	.filters > div {

		align-items: flex-end;

	}

	.filters.l-switcher > * > * {

		min-width: 33.333%;
		padding: rem(10);
		width: calc(920px * 920 - 100% * 920);

	}

	.filters .button--ghost {

		padding-left: rem(3);
		padding-right: rem(3);

		&:hover {

			text-decoration: underline;
			text-decoration-skip-ink: auto; // Not supported by Safari
			text-underline-offset: 0.25em; // Supported by Safari

		}

		&:focus {

			border-color: inherit;
			box-shadow: inset 0 0 0 2px;
			outline: solid 3px $focus-color;
			outline-offset: 0;

		}

	}

}

.people-list {

	> li {

		padding-bottom: rem(30);
		padding-top: rem(40);

	}

	> li + li {

		border-top: solid 1px $border-color;

	}

	.l-sidebar .sidebar {

		flex-basis: auto;
		order: -1;

		img {

			max-width: rem(100);

		}

	}

	.l-sidebar .not-sidebar {

		min-width: calc(70% - 1.5rem);

	}

	.l-sidebar .not-sidebar > div {

		max-width: rem($text-measure);

		> * + * {

			margin-top: rem(20);

		}

	}

	.l-cluster > *,
	.l-cluster.l-cluster > * > * {

		margin-bottom: 0;
		margin-top: 0;

	}

	.l-cluster > * {

		align-items: center;

	}

	.l-cluster a {

		display: inline-block;
		padding: rem(12) 0;

	}

	.l-cluster.groups > * > *:first-child {

		flex-basis: 100%;

		@include mq($bp-tab-small) {

			flex-basis: auto;

		}

	}

}

.event-list {

	margin-top: rem(40);

	> li + li {

		margin-top: 1rem;

	}

	.card {

		background-color: $white;
		border-radius: rem(4);
		box-shadow: -1px 1px 4px 0 rgba(55,70,95,0.12);
		overflow: hidden;
		padding: 1rem;

	}

	.card.l-sidebar .sidebar {

		flex-basis: auto;

	}

	.card.l-sidebar .not-sidebar {

		min-width: calc(70% - 1.5rem);

	}

	.card.l-sidebar .l-sidebar .sidebar {

		flex-basis: rem(320);

	}

	.card.l-sidebar .l-sidebar .not-sidebar {

		min-width: calc(55% - 1.5rem);

	}

	.card__text {

		padding-top: 0;

	}

	.card__image {

		align-self: flex-start;
		height: rem(100);
		width: rem(100);

		@include mq($bp-tab-large) {

			height: rem(200);
			width: rem(200);

		}

	}

	.card__image img {

		border-radius: 0;

	}

	.date-location {

		@include txt-pluto;

		display: flex;
		flex-wrap: nowrap;
		max-width: rem(300);

	}

	.date-location img {

		margin-inline-end: rem(12);
		width: rem(18);

	}

	.date-location > div:last-child {

		border-inline-start: solid 1px $border-color;
		padding-inline-start: rem(12);

	}

}