/*------------------------------------*\
    Core styles
\*------------------------------------*/

/*------------------------------------*\
    #Stack
\*------------------------------------*/
.stack {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.stack > * + * {

	margin-top: 1rem;

}

/*------------------------------------*\
    #Body
\*------------------------------------*/
html {

	height: 100%;

}

body {

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto;
	min-height: 100%;
	overflow-x: hidden;

}


/*------------------------------------*\
    #Links
\*------------------------------------*/
a:not([class]),
a.bold {

	border: 0;
	box-shadow: 0 -1px 0 0 inset;
	color: #00589C;
	cursor: pointer;
	text-decoration: none;

}

@supports (text-decoration-skip-ink: auto) {

	a:not([class]),
	a.bold {

		box-shadow: none;
		text-decoration: underline;
		text-decoration-skip-ink: auto;
		text-underline-offset: 4px;

	}

}

/*------------------------------------*\
    #Buttons
\*------------------------------------*/
button,
.button {

	align-self: flex-start;
	background-color: #023dde;
	border: none;
	border-radius: 1.5rem;
	color: #fff;
	font-weight: 600;
	line-height: calc(19 / 14);
	padding: 0.625em 1.5em;

}

/*------------------------------------*\
    #Global footer
\*------------------------------------*/
.global-footer {

	grid-row-start: 2;
	grid-row-end: 3;

}