/*------------------------------------*\
    #Columns
\*------------------------------------*/

.component--columns {

	overflow: hidden;

}

.component--columns > h2 {

	@include txt-earth;

	margin-bottom: 1em;

}

.component--columns ul {

	@include mq($bp-tab-small) {

		display: flex;
		flex-wrap: wrap;
		margin: -1.5%;

	}

}

.component--columns--images {

	li {

		@include mq($bp-tab-small) {

			flex: 1 0 33%;
			max-width: 50%;
			padding: 1.5%;

		}

	}

	// Specify flex item behaviour if exactly 4 items
	li:nth-last-child(n+4):nth-last-child(-n+4):first-child,
	li:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ li {

		flex-basis: 50%;

	}

	li + li {

		margin-top: rem(20);

		@include mq($bp-tab-small) {

			margin-top: 0;

		}

	}

}