/*------------------------------------*\
    #Comments
\*------------------------------------*/

.comments {

	background-color: $mist-gray;
	padding-bottom: rem(50);
	padding-top: rem(50);

	h2 {

		@include txt-mars;

		margin-bottom: rem(36);

	}

	h3 {

		font-size: 1rem;
		line-height: calc(32 / 24);

	}

	.l-center > article + * {

		margin-top: rem(20);

	}

	.l-sidebar {

		overflow: visible;

	}

	.l-sidebar .sidebar {

		flex-basis: auto;
		order: -1;

		img {

			max-width: rem(50);

		}

	}

	.l-sidebar .not-sidebar {

		min-width: calc(80% - 1.5rem);

	}

}

.comments form {

	max-width: rem($text-measure);

	.l-switcher > * {

		margin: rem(-10);

	}

	.l-switcher > * > * {

		padding: rem(10);
		width: calc(660px * 660 - 100% * 660);

	}

}

.comment .l-sidebar .not-sidebar > div {

	@include stack;

	max-width: rem($text-measure);

}

.comment--main {

	border-bottom: solid 1px $border-color;
	padding-bottom: rem(50);

}

.comment--context {

	border-top: solid 1px $border-color;
	//margin-top: 0;

}

.comment--context,
.comment details .l-sidebar {

	margin-left: rem(30);
	padding-bottom: rem(20);
	padding-top: rem(20);
	position: relative;

	&::before {

		background-color: $w3c-blue;
		border-radius: rem(3);
		content: '';
		height: calc(100% - 2.5rem);
		left: rem(-30);
		position: absolute;
		top: rem(20);
		width: rem(3);

	}

}

[dir="rtl"] {

	.comment--context,
	.comment details .l-sidebar {

		margin-left: 0;
		margin-right: rem(30);

		&::before {

			left: auto;
			right: rem(-30);

		}

	}

}

.comment details[open] + .comment--context,
.comment--context + .comment--context {

	margin-top: 0;

}