/*------------------------------------*\
    #Navigation core
\*------------------------------------*/

#global-nav svg {

	pointer-events: none;

}

[data-trigger="mobile-nav"] {

	display: none;

}

#global-nav {

	border-bottom: solid 1px $border-color;
	display: block;
	padding-bottom: rem(18);
	padding-top: rem(18);

	@include mq($max-width) {

		padding-bottom: 0;
		padding-top: rem(20);

	}

}

.global-nav__inner {

	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@include mq($max-width) {

		align-items: flex-end;
		flex-wrap: nowrap;
		position: relative;

	}

}

.global-nav__inner > ul {

	background-color: $white;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	padding-bottom: rem(45);
	width: 100%;

	@include mq($max-width) {

		flex-basis: auto;
		flex-wrap: nowrap;
		padding-bottom: 0;

	}

}

li.top-nav-item + li.top-nav-item {

	@include mq($max-width) {

		margin-inline-start: rem(4);

	}

}

.global-nav__inner > ul > li:last-child {

	@include mq($max-width) {

		margin-inline-start: auto;

	}

}

.global-nav__inner .top-nav-item {

	border-bottom: solid 1px $border-color;
	flex-basis: 100%;

	@include mq($max-width) {

		border-bottom: none;
		flex-basis: auto;

	}

}

.nav-link {

	color: $off-black;
	display: block;
	padding: rem(10) 0;
	position: relative;
	text-decoration: none;

	@include mq($max-width) {

		display: inline-block;

	}

}

.global-nav__inner .top-nav-item > .nav-link {

	font-weight: $emphasis;

}

.logo-link {

	@include mq($max-width) {

		border-bottom: solid 3px transparent;
		margin-inline-end: rem(25);
		padding-bottom: rem(5);

		&:hover,
		&:focus {

			border-bottom-color: #0079b8;
			outline: none;

		}

	}

}

.icon-link {

	align-items: center;
	color: inherit;
	display: flex;
	padding: rem(14) 0;

	@include mq($max-width) {

		display: inline-flex;
		justify-content: center;
		height: 100%;
		min-width: rem(44);

	}

}

.account-login {

	flex-basis: 100%;
	font-size: rem(14) !important;
	text-decoration: none;

	@include mq($max-width) {

		flex-basis: auto;
		padding-bottom: rem(10);
		padding-top: rem(10);

	}

	.icon {

		color: $twiki-gray;
		height: rem(24);
		width: rem(24);

	}

}

.global-nav__inner .top-nav-item > a {

	@include mq($max-width) {

		border-bottom: solid 3px transparent;
		font-size: 1rem;
		padding: rem(10) rem(5) rem(7);
		white-space: nowrap;

		&:hover,
		&:focus {

			border-bottom-color: #0079b8;
			outline: none;

		}

	}

}

.global-nav__inner .nav__submenu {

	display: none;

}