/*------------------------------------*\
    #Pagination
    See: https://weboverhauls.github.io/demos/pagination/
\*------------------------------------*/

.pagination {

	margin-top: rem(40);

}

.pagination + * {

	border-top: solid 1px $border-color;
	margin-top: rem(33);

}

.pagination__list {

	@include mq($bp-tab-large) {

		justify-content: flex-end;

	}

	li {

		display: inline-block; // IE9

	}

	a {

		@include txt-pluto;

		color: $black;
		display: block;
		text-decoration: none;
		padding: rem(11) rem(18);

		&:visited {

			color: $black;

		}

	}

	a[href]:hover {

		text-decoration: underline;
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari

	}

	[aria-current] {

		background-color: $link-color;
		color: $white;
		font-weight: bold;

		&:hover {

			color: $white;

		}

	}

}

.pagination__list__first svg,
.pagination__list__last svg {

	height: rem(22);

}

.pagination__list__first {

	.double-chevron-right {

		display: none;

	}

}

.pagination__list__last {

	.double-chevron-left {

		display: none;

	}

}

[dir="rtl"] {

	.pagination__list__first {

		.double-chevron-left {

			display: none;

		}

		.double-chevron-right {

			display: block;

		}

	}

	.pagination__list__last {

		.double-chevron-left {

			display: block;

		}

		.double-chevron-right {

			display: none;

		}

	}

}

