/*------------------------------------*\
    #Tag list
\*------------------------------------*/

.tag-list.tag-list {

	margin: rem(-10);

	li {

		margin: rem(10);

	}

}

.tag {

	@include txt-pluto;

	color: $storm-gray;
	display: block;

}

a.tag {

	position: relative;
	z-index: 10;

}