/*------------------------------------*\
    #Tag list
\*------------------------------------*/

.tag-list.tag-list {

	margin: rem(-10);

	li {

		margin: rem(10);

	}

}

.tag {

	@include txt-pluto;

	color: $storm-gray;
	display: block;

}


/*
Makes the tag links selectable if card link is stretched
across entire card using pseudo element
 */
a.tag {

	position: relative;
	z-index: 10;

}